body {
  background: #D2B8E3;
  font-family: Arial;
  width: auto;
  margin: 0 5%;
}

h1, h2, h3, h4 {
  font-weight: 800;
}


table {
  border: 1px;
  color: black;
  border-spacing:5px;
  text-align: center;
}

th {
  width: 300px;
  font-size: 1.2em;
  text-align:center;
  border-bottom: 1px solid black;
}


td { text-align: center;}

li {
  padding-bottom: 10px;
  list-style: none;
  font-size: 1.4em;
}
