body {
  background: #D2B8E3;
  font-family: Arial;
  width: auto;
  margin: 0 5%;
}

h1, h2, h3, h4 {
  font-weight: 800;
}


table {
  border: 1px;
  color: black;
  border-spacing:15px;
  text-align: center;
  margin-bottom: 15px;
}

th {
  width: 300px;
  font-size: 1.2em;
  text-align:center;
  vertical-align: top;
  border-bottom: 1px solid black;
}

td {
  text-align: left;
  margin-left: 10px;
  border-bottom: 1px solid black;
}

li {
  padding-bottom: 10px;
}


.half_width div {
  width: 400px;
}

.left_padding div {
  margin-left: 30px;
}

.float_left { float:left; }
.float_right { float:right; }

.no_underline a {
  text-decoration: none;
}
