<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header class="header">
      <img src="dilbert-slacker.jpg" class="float_left" width=100>
      <a href="/">
        <h1 class="vertical_align">Slacker News</h1>
      </a>
      <p class="text">
        <a href="new_article" class="underline">
        new</a> | comments | ask | jobs | submit</a>
    </header>

    <hr>

    <ol>

      <% @articles.each do |article_line| %>

        <li>
        <span class="title">
          <a href="<%= article_line[:url] %>" target="_blank">
            <%= article_line[:title] %>
          </a>
        </span><br>
        <span class="text">
          <%= article_line[:description] %></a>
        </span>

        </li>

      <% end %>


     </ol>


  </body>
</html>
