<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header class="header">
      <img src="dilbert-slacker.jpg" class="float_left" width=100>
      <h1 class="vertical_align">Slacker News</h1>
      <p class="text">new | comments | ask | jobs | submit</a>
    </header>

    <hr>

    <ol>
      <li>
      <span class="title">
        <a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">
          Firebase Leaves Beta Today (firebase.com)
        </a>
      </span>
      <span class="text">
        <a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">
        https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html</a><br>
      63 points by lyime 56 minutes ago | 17 comments</span>
      </li>

      <li>
        <span class="title">
          <a href="http://fitzgeraldnick.com/weblog/50">
            Destructuring Assignment in ECMAScript 6 (fitzgeraldnick.com)
          </a>
        </span>
        <span class="text">
          <a href="http://fitzgeraldnick.com/weblog/50/">
            http://fitzgeraldnick.com/weblog/50/
          </a>
          <br>
          40 points by mnemonik 49 minutes ago | 5 comments
        </span>
      </li>

      <li>
        <span class="title">
          <a href="https://stripe.com/blog/introducing-stripe-uk">
            Introducing Stripe UK (stripe.com)
          </a>
        </span>
        <span class="text">
          <a href="https://stripe.com/blog/introducing-stripe-uk">
            https://stripe.com/blog/introducing-stripe-uk
          </a>
          <br>
          230 points by woodrow 4 hours ago | 118 comments
        </span>
      </li>

      <li>
        <span class="title">
          <a href="http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html">
            Datomic in the browser (ragnard.github.io)
          </a>
        </span>
        <span class="text">
          <a href="http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html">
            http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html
          </a>
          <br>
          47 points by brucehauman 2 hours ago | 1 comment
        </span>
      </li>

     </ol>


  </body>
</html>
