<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header class="header">
      <img src="dilbert-slacker.jpg" class="float_left" width=100>
      <a href="/">
        <h1 class="vertical_align">Slacker News</h1>
      </a>
      <p class="text">
        <a href="new_article" class="underline">
        new</a> | comments | ask | jobs | submit</a>
    </header>

    <hr>

    <ol>


      <li>
      <span class="title">
        <a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">
          Firebase Leaves Beta Today (firebase.com)
        </a>
      </span>
      <span class="text">
        <a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">
        https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html</a><br>
      63 points by lyime 56 minutes ago | 17 comments</span>
      </li>


     </ol>


  </body>
</html>
