<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header class="header">
      <img src="dilbert-slacker.jpg" class="float_left" width=100>
      <a href="/">
        <h1 class="vertical_align">Slacker News</h1>
      </a>
      <p class="text">new | comments | ask | jobs | submit</a>
    </header>

    <hr>

    <h2><%= @title %> to Slacker News</h2>


    <form action="/article" method="post">
      <p>
        <label for="title" placeholder="title">Article Title</label>
        <input type="text" id="title" name="title" required aria-required=”true”>
      </p>
      <p>
        <label for="url">URL</label>
        <input type="url" id="url" name="url" required aria-required=”true”/>
      </p>
      <p>
        <label for="description">Description</label>
        <input type="textarea" id="description" name="description" required aria-required=”true” row="20" cols="80" pattern=".{20,500}" title="Please enter at least 20 characters"/></input>
      </p>

      <div class="button">
        <button type="submit">Submit</button>
      </div>
    </form>


  </body>
</html>
