<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= "#{@title}"%></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1 name="top">Movie Page</h1>

      <!--Display an array of hashes of all movies and all information-->
      <!--<%= @all_movies %>-->
      <!--<%= @titles_array %>-->

      <%= @movie_info %>

      <br><br>


    <a href="#top">Back to Top</a>


  </body>

</html>


