<!DOCTYPE html>
<html lang="en">

  <head>
    <title>All Team Info</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <h1>Display All Teams Hash</h1>

      <%= "#{@@contacts}" %>

  </body>

</html>
