<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <h1>Welcome to the League of Cool Kickball Professionals Webpage!</h1>

    <br><br>

<!--Team Names-->
    <div class="half_width float_left">
      <h2>The LCKP Teams:</h2>
      <ul>
        <% @team_names.each do |name| %>
          <li>
            <a href="<%= url("/team/#{name}") %>">
              <%= "#{name}" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>


<!--Positions-->
    <div class="half_width float_left left_padding">
      <h2>By Position:</h2>
      <ul>
        <% @positions.each do |position| %>
          <li>
            <a href="<%= url("/team/#{position}") %>">
              <%= "#{position}" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

  </body>

</html>
